/**
 * Body
 */

body {
  background-color: $color-grey;
}

/**
 * Sections
 */

section {
  position: relative;
}

.section-padding {
  padding: 4em 0;

  &--lg {
    padding: 6em 0;
  }

  &--sm {
    padding: 2em 0;
  }
}

/**
 * Class Container (BEM)
 */

[class*='__container'] {
  position: relative;
  z-index: 1;
  width:90%;
  margin:0 auto;
}

/**
 * Blog page
 */
 
.previews {

  @media (max-width: $mq-md) {
    display: flex;
    flex-direction: column;
  }

  & > * {

    &:first-child {
      position: relative;

      padding:1.5em 0;
      background:linear-gradient(to bottom, #104E8C , #0396c4);
      

      @media (min-width: $mq-md) {
        position: fixed;
        top: 0;
        left: 0;

        padding:3em;

        height: 100%;
        width: 35%;
      }

      &:after {
        @extend %overlay;
      }
    }

    &:last-child {
      min-height: 100vh;

      @media (min-width: $mq-md) {
        margin-left: 35%;
      }
    }
  }
}
